.columnHeads {
    color: white;
}

.dailiesColumn {
    flex: 1;
}

.habitsColumn {
    flex: 1;
}

.innerColumns {
    background-color: rgb(224, 222, 222);
    height: 600px;
    overflow: auto;
}

.mainPageColumns {
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-top: 200px;
    margin-left: 2%;
    margin-right: 2%;
}

.rewardsColumn {
    flex: 1;
}

.todosColumn {
    flex: 1;
}
