.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#demoUser {
    border: none;
    background-color: rgb(46, 192, 236);
    color: white;
    font-size: 100%;
    padding: 8px 6px;
    border-radius: 3px;
    margin-bottom: 1%;
    margin-top: 1%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#demoUser:hover {
    background-color: rgb(100, 100, 204);
}

#errorP {
    color: rgb(255, 11, 11);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#loginInputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    width: 240%;
    margin-left: -70%;
    font-family: 'Montserrat', sans-serif;
}

#loginInputs>input {
    background-color: rgb(86, 14, 119);
    color: white;
    border: none;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

#loginInputs>input:hover {
    background-color: rgb(61, 10, 82);
}

#loginSubmit {
    border: none;
    background-color: rgb(46, 192, 236);
    color: white;
    font-size: 100%;
    padding: 8px 6px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30%;
}

#loginSubmit:hover {
    background-color: rgb(100, 100, 204);
}

#noAccount {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#noAccount:hover {
    text-decoration: underline;
}
