.hidden {
  display: none;
}

.centerLinks {
  margin-right: 1300px;
  display: flex;
}

.homeLink {
  text-decoration: none;
  color: white;
  font-size: xx-large;
}

.navigationBar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 2%;
}

.navLeft {
  display: inline-flex;
}

.navLinks {
  list-style-type: none;
  display: inline-flex;
}

.profile-dropdown {
  position: fixed;
  left: 85%;
  background-color: white;
  z-index: 1000;
  list-style: none;
}

#learnMore {
  color: rgb(199, 171, 199);
  text-decoration: none;
}

#learnMore:hover {
  color: white;
}

#loginButton {
  background-color: rgb(145, 88, 197);
  color: white;
  text-decoration: none;
  border: solid rgb(145, 88, 197);
  padding: 5px;
  position: fixed;
  margin-left: 90%;
}

#loginButton:hover {
  background-color: rgb(141, 73, 155);
  border: solid rgb(141, 73, 155);
}

#logoutButton {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: none;
  background-color: white;
  padding: 8px;
  cursor: pointer;
}

#logoutButton:hover {
  text-decoration: underline;
  color: rgb(124, 30, 136);
  background-color: rgb(240, 224, 245);
}

#navGriffin {
  margin-right: 4px;
  margin-left: 40px;
  margin-top: 1%;
  font-size: 180%;
  color: white;
  display: inline-flex;
}

#getStarted {
  color: rgb(199, 171, 199);
  text-decoration: none;
  margin-right: 50px;
  display: flex;
}

#getStarted:hover {
  color: white;
}

#profileButton {
  border: none;
  color: white;
  background-image: url('../../images/topbackground.jpg');
  font-size: 200%;
  cursor: pointer;
}
