.hidden {
  display: none;
}

.homeLink {
  text-decoration: none;
  color: white;
  font-size: xx-large;
}

.navigationBar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}

.profile-dropdown {
  position: fixed;
  left: 85%;
  background-color: white;
  z-index: 1000;
  list-style: none;
}

#loginButton {
  background-color: rgb(145, 88, 197);
  color: white;
  text-decoration: none;
  border: solid rgb(145, 88, 197);
  padding: 5px;
  margin-right: 4%;
}

#loginButton:hover {
  background-color: rgb(141, 73, 155);
  border: solid rgb(141, 73, 155);
}

#logoutButton {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: none;
  background-color: white;
  padding: 8px;
  cursor: pointer;
}

#logoutButton:hover {
  text-decoration: underline;
  color: rgb(124, 30, 136);
  background-color: rgb(240, 224, 245);
}

#navGriffin {
  margin-right: 8px;
  font-size: 180%;
  color: white;
  display: inline-flex;
  margin-top: 2%;
}

#navLinks {
  color: rgb(199, 171, 199);
  text-decoration: none;
}

#navLinks:hover {
  color: white;
}

#profileButton {
  border: none;
  color: white;
  background-image: url('../../images/topbackground.jpg');
  font-size: 200%;
  cursor: pointer;
  margin-right: 25px;
}
