button:disabled {
    cursor: not-allowed;
    box-shadow: 1px 1px 4px gray;
    background-color: rgba(228, 226, 226, 0.664);
    color: rgb(94, 88, 88);
}

button:disabled:hover {
    box-shadow: none;
}

.createForms {
    display: flex;
    flex-direction: column;
}

.createForms input {
    display: flex;
    font-size: large;
}

.formSubmit {
    border: none;
    width: 15%;
    margin: 0 auto;
    padding: 2%;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: rgb(88, 51, 136);
    color: white;
}

.formSubmit:hover {
    box-shadow: 1px 1px 3px gray;
}

.lowerCreateForm {
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.upperForm {
    background-color: rgb(85, 23, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2%;
}

#modal-content {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#notesInput {
    height: 150%;
}
