.learnMoreLinks {
    font-size: 200%;
    color: white;
    margin-left: 50%;
}

.learnMoreText {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Delius Swash Caps', cursive;
}

#imageOfMe {
    color: white;
}
