body {
    background-image: url('../../images/topbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    min-height: 100vh;
    margin: 0;
}

.homePageHeadings {
    color: white;
}

.homePageLeft {
    margin-left: 20%;
}

.homePageP {
    color: white;
    font-size: large;
}

.homePageRight {
    margin-right: 25%;
}

.homePageTopWrapper {
    display: flex;
    flex-direction: row;
}

#homePageLeftTitle {
    font-size: 300%;
    color: white;
}

#homePageTopImg {
    width: 357px;
}

#signupSubmitHome {
    border: none;
    background-color: rgb(46, 192, 236);
    color: white;
    font-size: 100%;
    padding: 8px 6px;
    border-radius: 3px;
    margin-bottom: 3%;
    cursor: pointer;
    width: 100%;
    height: 40px;
}
