.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30%;
    margin-left: 35%;
}

#signupGriffin {
    display: flex;
    margin-left: 38%;
}

#signupInputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    font-family: 'Montserrat', sans-serif;
}

#signupInputs>input {
    background-color: rgb(86, 14, 119);
    color: white;
    border: none;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}

#signupInputs>input:hover {
    background-color: rgb(61, 10, 82);
}

#signupSubmit {
    border: none;
    background-color: rgb(46, 192, 236);
    color: white;
    font-size: 100%;
    padding: 8px 6px;
    border-radius: 3px;
    margin-left: 40%;
    margin-bottom: 3%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    color: rgb(183, 46, 247);
    font-family: 'Montserrat', sans-serif;
}
