.addtask-dropdown {
    position: fixed;
    right: 0;
    margin-right: 3%;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px gray;
    width: 8%;
    z-index: 100;
    list-style: none;
    background-color: white;
}

.addtask-dropdown-hidden {
    display: none;
}

.addTaskDropdownItems {
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3%;
    margin-left: 0%;
}

.addTaskDropdownItems:hover {
    background-color: rgb(206, 166, 238);
    color: rgb(79, 19, 119);
}

#addTaskButton {
    border: none;
    background-color: purple;
    color: white;
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 7%;
    font-size: 110%;
    padding: 3px 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#plusSign {
    color: rgb(182, 139, 218);
}
