.checklistItem {
    text-wrap: wrap;
    word-break: break-word;
}

.eachElement {
    position: relative;
}

.updateButton {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    bottom: 0;
    border: none;
    opacity: 0;
}

#dailiesList {
    list-style: none;
    margin-bottom: 3px;
    background-color: white;
    margin-right: 3%;
    margin-left: 2%;
    border: 1px solid white;
    font-family: 'Indie Flower', cursive;
    padding: 0px 5px;
    border-radius: 7px;
}

#dailiesList:hover {
    border: 1px solid purple;
    box-shadow: 1px 3px 6px gray;
}

#dailyOneLine {
    margin: 2%;
    width: 94%;
    height: 40px;
    border: none;
    background-color: rgb(206, 202, 202);
    color: rgb(109, 105, 105);
    font-weight: bolder;
    font-family: 'Delius Swash Caps', cursive;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 7px;
}

#dailyOneLine:hover {
    background-color: rgb(197, 193, 193);
    border: 1px solid black;
}
